<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>E-commerce System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to the E-commerce System</h1>
        <div>
            <a th:href="@{api/products}" class="btn btn-primary">View Products</a>
            <a th:href="@{/products/add}" class="btn btn-success">Add Product</a> <!-- Button to add a product -->
        </div>
    </div>
</body>
</html>
